body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(grey,black,black,grey,black,black,grey);
}

.container{
    height: 300px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(66, 54, 54);

}

.container input{
    height: 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    padding:10px
}
button{
    padding: 20px 80px;
    border-radius: 20px;
    border: 0;
}

